body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("image/background.jpg");
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 63px;
    background-image: url("image/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.logo-link {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-decoration: none;
    color: white;
}

.logo-link span {
    font-size: 18px;
    line-height: 18px;
}

.logo:hover {
    background-image: url("image/logo-hover.png");
}

.logo:hover > .logo-link {
    color: #F26522;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.mailto:hover, .tel:hover {
    color: #F26522;
}

.cards {
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    margin-top: 17px;
}

.first-row {
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.second-row {
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card1-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #F26522;
    transition: height 0.3s ease-out;
    width: 300px;
    height: 55px;
    opacity: 0;
    left: 2px;
    top: -4px;
}

.left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 9px 0px 0px 16px;
    padding: 0px;
    gap: 8px;
}

.card-hover-text {
    font-size: 10px;
    line-height: 10px;
}

.card-hover-price {
    position: relative;
    font-size: 20px;
    line-height: 20px;
}

.details {
    display: flex;
    align-items: flex-end;
    margin: 0 15px 12px 0;
    gap: 16px;
}

.details::after {
    content: url("image/arrow.svg");
}

.card1:hover .card1-hover {
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    opacity: 1;
}

.card1-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.card1:hover .card1-text {
    color: #F26522;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card2-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #F26522;
    transition: height 0.3s ease-out;
    width: 300px;
    height: 55px;
    opacity: 0;
    left: 2px;
    top: -4px;
}

.card2:hover .card2-hover {
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    opacity: 1;
}

.card2-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.card2:hover .card2-text {
    color: #F26522;
}

.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card3-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #F26522;
    transition: height 0.3s ease-out;
    width: 300px;
    height: 55px;
    opacity: 0;
    left: 2px;
    top: -4px;
}

.card3:hover .card3-hover {
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    opacity: 1;
}

.card3-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.card3:hover .card3-text {
    color: #F26522;
}

.card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card4-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #F26522;
    transition: height 0.3s ease-out;
    width: 300px;
    height: 55px;
    opacity: 0;
    left: 2px;
    top: -4px;
}

.card4:hover .card4-hover {
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    opacity: 1;
}

.card4-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.card4:hover .card4-text {
    color: #F26522;
}

.card5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card5-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #F26522;
    transition: height 0.3s ease-out;
    width: 300px;
    height: 55px;
    opacity: 0;
    left: 2px;
    top: -4px;
}

.card5:hover .card5-hover {
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    opacity: 1;
}

.card5-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.card5:hover .card5-text {
    color: #F26522;
}

.card6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card6-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #F26522;
    transition: height 0.3s ease-out;
    width: 300px;
    height: 55px;
    opacity: 0;
    left: 2px;
    top: -4px;
}

.card6:hover .card6-hover {
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    opacity: 1;
}

.card6-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.card6:hover .card6-text {
    color: #F26522;
}

.footer-text {
    margin: 50px 0px 15px 0px;
    text-align: center;
}
